/* arasuji.css */
body {
  background-color: hotpink !important;
}


.qr-zone {
  background-image: url('/banshu-survive/images/shikkui-wall_qr_mini.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}


.qr-link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 140px;
  height: 140px;
  display: block;
}
