@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

body {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  background-color: #fefefe;
  color: #222;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #fff100;
  color:#000;
  font-weight:bold;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.nav-bar a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}